CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_HZ_300=y
CONFIG_CPU_FREQ_DEFAULT_GOV_INTERACTIVE=y
CONFIG_CAN=m
CONFIG_CFG80211=y
CONFIG_NL80211_TESTMODE=y
CONFIG_CFG80211_DEBUGFS=y
CONFIG_CFG80211_WEXT=y
CONFIG_MAC80211=y
CONFIG_MAC80211_DEBUGFS=y
CONFIG_MAC80211_DEBUG_MENU=y
CONFIG_MAC80211_VERBOSE_DEBUG=y
CONFIG_PCIEAER=y
# CONFIG_PCIEASPM_POWERSAVE is not set
CONFIG_PCIEASPM_PERFORMANCE=y
CONFIG_UEVENT_HELPER=y
# CONFIG_MTD_SPI_NAND is not set
# CONFIG_MTD_SPI_NOR is not set
# CONFIG_RK628_MISC is not set
# CONFIG_RK628_MISC_HDMITX is not set
# CONFIG_AHCI_DWC is not set
CONFIG_SATA_AHCI_PLATFORM=y
# CONFIG_R8168 is not set
# CONFIG_MOTORCOMM_PHY is not set
CONFIG_REALTEK_PHY=y
# CONFIG_ROCKCHIP_FEPHY is not set
# CONFIG_ROCKCHIP_PHY is not set
# CONFIG_RK630_PHY is not set
CONFIG_CAN_ROCKCHIP=m
CONFIG_CANFD_ROCKCHIP=m
# CONFIG_CANFD_RK3576 is not set
CONFIG_CAN_MCP251X=m
CONFIG_CAN_MCP251XFD=m
CONFIG_USB_RTL8150=m
CONFIG_USB_RTL8152=m
CONFIG_USB_USBNET=y
CONFIG_USB_NET_AX8817X=m
CONFIG_USB_NET_AX88179_178A=m
CONFIG_USB_NET_CDC_MBIM=m
# CONFIG_USB_NET_NET1080 is not set
CONFIG_USB_NET_RNDIS_HOST=y
# CONFIG_USB_NET_CDC_SUBSET is not set
# CONFIG_USB_NET_ZAURUS is not set
# CONFIG_WLAN_VENDOR_ADMTEK is not set
CONFIG_IWLWIFI=m
CONFIG_IWLMVM=m
CONFIG_LIBERTAS_THINFIRM=m
CONFIG_MWIFIEX=m
CONFIG_MWIFIEX_SDIO=m
CONFIG_RTL_CARDS=m
CONFIG_WL_ROCKCHIP=m
CONFIG_WIFI_LOAD_DRIVER_WHEN_KERNEL_BOOTUP=y
CONFIG_RTL8821CU=m
CONFIG_USB_NET_RNDIS_WLAN=m
CONFIG_INPUT_MATRIXKMAP=y
CONFIG_TOUCHSCREEN_ADS7846=m
CONFIG_TOUCHSCREEN_GOODIX=y
# CONFIG_TOUCHSCREEN_HYN is not set
CONFIG_TOUCHSCREEN_GT9XX=y
CONFIG_TOUCHSCREEN_WACOM_W9013=y
CONFIG_SERIAL_8250_NR_UARTS=10
CONFIG_SERIAL_8250_RUNTIME_UARTS=10
# CONFIG_RANDOM_TRUST_BOOTLOADER is not set
CONFIG_ROCKCHIP_GPIOMEM=m
# CONFIG_I3C is not set
# CONFIG_ROCKCHIP_I3C_MASTER is not set
# CONFIG_PINCTRL_RK805 is not set
CONFIG_W1=y
CONFIG_W1_MASTER_GPIO=y
CONFIG_W1_SLAVE_THERM=y
# CONFIG_BATTERY_CW2017 is not set
# CONFIG_CHARGER_BQ25700 is not set
# CONFIG_BATTERY_RK817 is not set
# CONFIG_CHARGER_RK817 is not set
CONFIG_SENSORS_PWM_FAN=m
CONFIG_SENSORS_SHTC1=m
CONFIG_THERMAL_GOV_BANG_BANG=y
# CONFIG_MFD_RKX110_X120 is not set
# CONFIG_PWM_RKX120 is not set
CONFIG_REGULATOR_DEBUG=y
# CONFIG_REGULATOR_RK801 is not set
# CONFIG_VIDEO_ROCKCHIP_ISP_VERSION_V1X is not set
# CONFIG_VIDEO_ROCKCHIP_CIF is not set
# CONFIG_VIDEO_ROCKCHIP_HDMIRX is not set
# CONFIG_VIDEO_ROCKCHIP_VPSS is not set
# CONFIG_VIDEO_IMX415 is not set
# CONFIG_VIDEO_IMX464 is not set
# CONFIG_VIDEO_OV13855 is not set
# CONFIG_VIDEO_OV50C40 is not set
# CONFIG_ROCKCHIP_DRM_DEBUG is not set
# CONFIG_MALI400 is not set
# CONFIG_MALI450 is not set
CONFIG_FB=y
CONFIG_FB_SH1106=y
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_FRAMEBUFFER_CONSOLE_ROTATION=y
CONFIG_LOGO=y
CONFIG_SND_SOC_ES7202_MIC_MAX_CHANNELS=4
# CONFIG_SND_SOC_RK817 is not set
CONFIG_USB_WDM=y
CONFIG_USB_MASS_STORAGE=m
# CONFIG_SCSI_UFSHCD is not set
CONFIG_LEDS_TRIGGER_TIMER=y
CONFIG_LEDS_TRIGGER_HEARTBEAT=y
CONFIG_LEDS_TRIGGER_BACKLIGHT=m
CONFIG_LEDS_TRIGGER_GPIO=y
CONFIG_DMABUF_PARTIAL=y
CONFIG_COMMON_CLK_XGENE=y
# CONFIG_CPU_RV1126B is not set
# CONFIG_CPU_PX30 is not set
# CONFIG_CPU_RK1808 is not set
# CONFIG_CPU_RK3328 is not set
# CONFIG_CPU_RK3399 is not set
# CONFIG_CPU_RK3528 is not set
# CONFIG_CPU_RK3562 is not set
# CONFIG_CPU_RK3576 is not set
CONFIG_PM_DEVFREQ=y
CONFIG_DHT11=y
CONFIG_AUTOFS4_FS=y
CONFIG_SQUASHFS_XATTR=y
CONFIG_LSM="lockdown,yama,loadpin,safesetid,integrity,bpf"
CONFIG_CRYPTO_CRYPTD=y
CONFIG_CRYPTO_ARC4=y
CONFIG_CRYPTO_SEQIV=y
CONFIG_CRYPTO_AES_ARM64=y
CONFIG_DEBUG_SPINLOCK=y
