# CONFIG_RK_SFC_NAND is not set
# CONFIG_ROCKCHIP_MTD_VENDOR_STORAGE is not set
# CONFIG_ROCKCHIP_SCHED_PERFORMANCE_BIAS is not set
# CONFIG_ROCKCHIP_VENDOR_STORAGE_UPDATE_LOADER is not set
CONFIG_ARCH_ROCKCHIP_ODROIDM2=y
# CONFIG_BCMDHD is not set
# CONFIG_DEVMEM is not set
CONFIG_DRM_PANEL_ILITEK_ILI9881C=y
CONFIG_KEYBOARD_GPIO_POLLED=y
CONFIG_RTC_DRV_PCF8563=y
CONFIG_TOUCHSCREEN_DWAV_USB_MT=y
CONFIG_TOUCHSCREEN_GOODIX=y
CONFIG_USB_SERIAL_CH341=y
CONFIG_USB_SERIAL_CP210X=y
CONFIG_USB_SERIAL_FTDI_SIO=y
CONFIG_USB_SERIAL_PL2303=y
CONFIG_NET_SOCK_MSG=y
CONFIG_NET_DEVLINK=y
CONFIG_REALTEK_PHY=y
