CONFIG_LOCALVERSION="-rockchip-odroid-arm64"
CONFIG_ARCH_ROCKCHIP_ODROIDM2=y
# CONFIG_TOUCHSCREEN_GT1X is not set
# CONFIG_TOUCHSCREEN_GT9XX is not set
CONFIG_ROCKCHIP_THERMAL=y
# CONFIG_MFD_RK808 is not set
# CONFIG_MFD_RK806_I2C is not set
CONFIG_DRM_PANEL_ILITEK_ILI9881C=y
# CONFIG_MALI_MIDGARD is not set
CONFIG_MALI_VALHALL=y
CONFIG_MALI_VALHALL_PLATFORM_NAME="rk"
CONFIG_MALI_VALHALL_EXPERT=y
CONFIG_MALI_VALHALL_DEBUG=y
CONFIG_PHY_ROCKCHIP_MIPI_RX=m
CONFIG_PHY_ROCKCHIP_SAMSUNG_DCPHY=y
CONFIG_PHY_ROCKCHIP_SAMSUNG_HDPTX=y
CONFIG_PHY_ROCKCHIP_SAMSUNG_HDPTX_HDMI=y
CONFIG_ROCKCHIP_RKNPU=m
CONFIG_ROCKCHIP_RKNPU_PROC_FS=y
CONFIG_DRM=y
CONFIG_DRM_PANEL_MIPI_DBI=y
CONFIG_DRM_ROCKCHIP=y
CONFIG_MEDIA_SUPPORT=y
CONFIG_VIDEO_DEV=y
CONFIG_MTD=y
