CONFIG_ARCH_ROCKCHIP_ODROIDM1=y
CONFIG_VIDEO_OV5647=m
CONFIG_DRM_PANEL_ILITEK_ILI9881C=y
CONFIG_TINYDRM_ILI9341=m
# CONFIG_MALI_MIDGARD is not set
CONFIG_MALI_BIFROST=y
CONFIG_MALI_PLATFORM_NAME="rk"
# CONFIG_MALI_BIFROST_GATOR_SUPPORT is not set
CONFIG_MALI_BIFROST_EXPERT=y
CONFIG_MALI_BIFROST_DEBUG=y
CONFIG_PHY_ROCKCHIP_MIPI_RX=m
CONFIG_RK_FLASH=y
CONFIG_RK_SFC_NOR=y
CONFIG_RK_SFC_NOR_MTD=y
CONFIG_ROCKCHIP_RKNPU=m
CONFIG_ROCKCHIP_RKNPU_PROC_FS=y
CONFIG_ROCKCHIP_RGA2=y
# CONFIG_ROCKCHIP_MULTI_RGA is not set
