menu "Hardkernel Specific Hardware"

config HARDKERNEL_UMP
	bool "Enable the UMP Glue"
	depends on MACH_ODROID_4X12 && MALI400
	default n
	---help---
		This enables the needed GLUE to Mali UMP to the Framebuffer

endmenu

